body{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.navlink a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.navlink.flex-2 {
    flex: 2;
    
}
.navlink {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

main {
    background-color: grey;
    display: grid;
    grid-template-columns: 20% 80%; /* in alternativa posso usare le frazioni e scrivere 1fr 2fr */
    margin: 0 10px
}
aside{
    background-color: darkgrey;
}
article{
        width: 80%;
        margin: 10px auto;
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 10px;
}
/* Centrare oggetti */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-header{
    display: flex;
    align-items: center;
}
.card-header img{
    width: 100px; 
    border-radius: 50%;
}
.card-header p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.card-footer p{
    text-align: end;
}
header img{
    width: 100%;
}
header{
    position: relative;
}
header h1{
    background-color: rgba(255, 255, 255, 0.50);
    width: 60%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 40px;
    text-transform: uppercase;
}
#Chi-siamo img{
    width: 350px;
}
.clear{
    clear: both;
}
#Progetti{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
}

.prj-card-top{
    position: relative;
    
}
.prj-card-top h2{
    background-color: rgba(255, 255, 255, 0.50);
    width: 60%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 15px;
}
.prj-card-bot{
    display: flex;
    align-items: center;
}
.prj-card-bot img{
    width: 20%;
    float:left;
    margin: 10px;
    border-radius: 50%;
}
